<!-- Log in-->
<div class="container">
  <form>
    <div style="display:inline-block">
      <div>
        <p>Username:</p>
      </div>
      <div>
        <input ng-model="username" type="text" id="username" name="username"/><br/>
      </div>
    </div>
    <div style="display:inline-block">
      <div>
        <p>Password:</p>
      </div>
      <div>
        <input ng-model="password" type="password" id="password" name="password"/><br/>
      </div>
    </div>
    <button ng-click="login()">Log in</button>
  </form>
</div>
<!-- Sing up-->
<div class="container">
</div>
