
<!-- Add memo-->
<div class="container">

</div>
<!-- List memos -->

<div class="container">
  Show :{{show}}
  <div ng-if="!res.message.error">
    <br/>
    Hola <strong>{{username}}
    </strong><br/><br/>
    <div ng-app="myApp" >
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Text</th>
          <th>Date</th>
          <th>File</th>
        </tr>
        <tr ng-repeat="memo in memos">
          <td>{{ memo._id }}</td>
          <td>{{ memo.text }}</td>
          <td>{{ memo.date }}</td>
          <td>{{ memo.route_file }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
