

<!-- List memos -->
<br/>
<div class="container">
  <div ng-if="!problem">

    <!-- Add memo-->
    <div class="container">
      <form enctype="multipart/form-data">
        <div style="display:inline-block">
          <br>
          <div>
            <p><strong>Date:</strong></p>
          </div>
          <div>
            <input ng-model="memoToAdd.date" type="date" id="date" name="date" class="form-control" required/><br/>
          </div>
        </div>
        <div style="display:inline-block">
          <div>
            <p><strong>Text:</strong></p>
          </div>
          <div>
            <input ng-model="memoToAdd.text" type="text" id="text" name="text" class="form-control" required/><br/>
          </div>
        </div>
        <div style="display:inline-block">
          <br>
          <div>
            <p><strong>File:</strong></p>
          </div>
          <div>
              <input class="btn btn-default button" ngf-select ng-model="memoToAdd.file" type="file" id="file" name="file" class="form-control" multiple="multiple"><br/>
              </input>
          </div>
        </div>
        <div>
          <button ng-click="addMemo()" class="btn btn-default">Add memo</button>
        </div>
        </form>
      </div>
      <!-- End add memo -->

      <div ng-if="!res.error">
        <br><br>
        Hola <strong>{{username}}
        </strong><br/><br/>
        <div ng-app="myApp" >
          <table class="table">
            <tr>
              <th>Id</th>
              <th>Text</th>
              <th>Date</th>
              <th>File</th>
              <th>Delete</th>
            </tr>
            <tr ng-repeat="memo in memos">
              <td>{{ memo._id }}</td>
              <td>{{ memo.text }}</td>
              <td>{{ memo.date }}</td>
              <td><a ng-href="../api/file/{{memo._id}}">{{ memo.route_file }}</a></td>
              <td><button ng-click="deleteMemo(memo._id)" class="btn btn-default">Delete</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-if="res.error">
        <div class="alert alert-warning" role="alert">res.message</div>
      </div>
    </div>

  </div>

  <div ng-if="problem">
    <div class="alert alert-danger" role="alert">You are not welcome, please <strong>log in</strong></div>
  </div>

</div>
